Xft.dpi: 125

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb
