configuration {
   modi: "window,drun,run,ssh";
   width: 700;
   lines: 15;
   columns: 1;
   font: "JetBrainsMono Nerd Font 17";
   bw: 1;
   show-icons: true;
   terminal: "alacritty";
   drun-match-fields: "name,generic,exec,categories";
   levenshtein-sort: true;
   case-sensitive: false;
   sidebar-mode: true;
   combi-modi: "drun,run,ssh";
   matching: "fuzzy";
   combi-hide-mode-prefix: true;
}

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
