snippet com "Comentary template in C" 
/*------------------------------------------------------------------------------
									$1
------------------------------------------------------------------------------*/
endsnippet

snippet todo "TODO template with Name day and hour" b
// TODO(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet

snippet fix "Fixme template with Name day and hour" b
//  FIXME(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet

snippet comfunc "Comentary for functions docs" b
/*------------------------------------------------------------------------------
Function : $1
Input/s  : $1
Output   : $1
Details  : $1
------------------------------------------------------------------------------*/
endsnippet

snippet note "NOTE template with Name day and hour" b
//  NOTE(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet
