snippet comen "Comentarios para Julia"
#=------------------------------------------------------------------------------
								$1
------------------------------------------------------------------------------=#
endsnippet

snippet todo "TODO template with Name day and hour" b
// TODO(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet

snippet fix "Fixme template with Name day and hour" b
//  FIXME(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet

snippet comfunc "Comentary for functions docs" b
#=------------------------------------------------------------------------------
Function : $1
Input/s  :
Output   :
Details  :
------------------------------------------------------------------------------=#
endsnippet

	
