snippet com "Comentary template for make"
#------------------------------------------------------------------------------
# 									$1
#------------------------------------------------------------------------------
endsnippet

snippet todo "TODO template with Name day and hour" b
# TODO(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet

snippet note "NOTE template with Name day and hour" b
# NOTE(`echo $USER`:${1:desc})-->`!v strftime("%c")`
endsnippet
