# My snippets for Python files
# 1. Nice coments
#-------------------------------------------------------------------------
#                                Coments
#-------------------------------------------------------------------------
# inline comments
snippet COM
   # ${0:your nice comment in line here}

# block comments
snippet BCOM
   #-------------------------------------------------------------------------
   #                        ${0:yor nice comment here}
   #-------------------------------------------------------------------------

#-------------------------------------------------------------------------
#                                auxiliaries
#-------------------------------------------------------------------------
